.header {
  background-color: rgb(255, 255, 255);
  height: 7vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_container {
  background-image: url('../../assets/main_logo.png');
  background-size: cover;
  background-position: center;
  width: 20%;
  height: 100%;
}

.link_container {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;

    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #fc6161;
  }
}
.register_btn {
  color: #333;
  &:hover {
    background-color: #fc6161;
    color: #fff;
  }
}

.login_btn {
  background-color: #fc6161;
  color: #fff;
  &:hover {
    color: #333;
    background-color: #fff;
    border: 1px solid #fc6161;
  }
}
